<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <!--shortcut icon-->
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
        type="image/x-icon" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <!--style-->
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Timestamp Microservice</h1>
        <hr />
    </header>

    <div class="container">
        <div>
            <h3>Example Usage:</h3>
            <ul>
                <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
                <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
            </ul>
        </div>

        <div>
            <h3>Example Output:</h3>
            <code id="code-example">{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </div>
    </div>

    <footer class="footer">
        <p>
            Project By <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp.org</a>
        </p>
        <p>
            Coded By <a href="https://github.com/Gustavo-Victor" target="_blank">Gustavo Victor</a>
        </p>
    </footer>

</body>

</html>